:root{

    --color-primary:#6f6af8;
    --color-primary-variant:#5854c7;
    --color-primary-light :hsl(242, 91%, 69%, 18%);
    --color-danger:rgb(249, 49, 4);
    --color-danger-light:hsl(346, 87%, 46%, 15%);
    --color-success:#8bf86a;
    --color-danger-light:hsl(346, 87%, 46%, 15%);
    --color-gray-1:#f86af3;
    --color-gray-2:#fa24e5;


    --color-white:#ffff;
    --color-light:#ccc;
    --color-light-variant:#626262;
    --color-light:#efefef;

    --color-radius-1:.3rem;
    --color-radius-2:.5rem;
    --color-radius-3:.8rem;
    --color-radius-4:2rem;
    --color-radius-5:5rem;
}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    appearance: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition : .4s ease;
}
body{
    line-height: 1.6;
    font-size: 17px;
    background: var(--color-bg);
    overflow-x:hidden;
    color: var(--color-gray-1)
}
.container{
    max-width: 1620px;
    margin: 0;
    width: 90%;
}
